.result {
  width: 100%;
  padding: 2rem 5rem;
}

.item {
  display: block;
  margin: 1rem;
  border-radius: 12px;
  padding: 1rem 3rem !important;
  color: white;
  background-color: #282828;
  box-shadow: 3px 3px 3px rgb(100, 100, 100);

  & > * {
    margin-bottom: 0 !important;
  }

  span,
  div {
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .detail {
    font-size: 1.7rem;
    font-weight: 600;
  }
  .des {
    font-size: 1.4rem;
    font-weight: 400;
  }

  &:hover {
    transform: scale(1.01);
    background-color: rgba(231, 165, 165, 0.2);
    transition: all 0.3s ease-in;
    color: #d2ae68;

    span,
    div {
      color: #d2ae68;
    }
  }
}

@media only screen and (max-width: 992px) {
  .title {
    margin-bottom: 2rem;
  }

  .result {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .title {
    display: none;
  }
}
