.user-info {
  position: sticky;
  width: 24%;
  height: fit-content;
  padding-bottom: 2rem;
  top: 10vh;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #282828;
}

.user-info-head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.7rem;
  color: white;
}

.user-info-header {
  width: 100%;
  display: flex;

  & > * {
    width: 30%;
  }

  img {
    object-position: 100% 0;
  }
}

.user-info-header-line {
  font-size: 1rem;
  font-style: italic;
}

.user-cover-linear {
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    RGBA(40, 40, 40, 0.3),
    RGBA(40, 40, 40, 0.6)
  );
  pointer-events: none;
}

.user-info-bgimg {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.user-info-bgava {
  margin: auto;
  width: 30%;
  height: 10rem;
  object-fit: cover;
  border-radius: 20%;
  border: solid 2px;
  margin-top: -4rem;
}

.user-info-fullname {
  letter-spacing: 1.5px;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 0;
}

.user-info-fullname > * {
  margin: 0 0.5rem;
}

.user-info-username {
  margin: 0.2rem 0 2rem;
  font-style: italic;
}

.user-info-des {
  margin: 1rem 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 80%;
  padding: 0 1rem 0 1rem;
}

.user-info-line {
  width: 70%;
  height: 0rem;
  border: #3c2d2d 0.4px solid;
  margin: 2rem 0 1rem;
}

.user-info-btn {
  // background-color: #23262b;
  // border-radius: 20px;
  // font-size: 1.5rem;
  // letter-spacing: 1px;
  // width: 60%;
  // padding: 1rem 0;
  // font-style: italic;
  // font-weight: lighter;
}

.user-info-btn {
  width: 70%;
  position: relative;
  padding: 0.6rem 3rem;
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-style: italic;
}

.user-info-btn:hover {
  background: hsla(170, 25%, 18%, 0.94);
  box-shadow: 0 0 30px 5px hsla(168, 53%, 25%, 0.94);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.user-info-btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.user-info-btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.user-info-btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
