.para {
  font-size: max(10pt, 2.5vmin);
  line-height: 1.4;
  color: #0e390e;
  margin-bottom: 1.5rem;
}

.wrap {
  z-index: 3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 115vmin;
  height: 70vmin;
  margin: 3% auto;
  margin-left: 5%;
  border: 8px solid;
  border-image: linear-gradient(-50deg, #83a4d4, #b6fbff, rgb(180, 182, 223), rgb(35, 216, 204)) 1;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.wrap.not-author {
  z-index: 3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 115vmin;
  height: 70vmin;
  margin: 3% auto;
  border: 8px solid;
  border-image: linear-gradient(-50deg, #83a4d4, #b6fbff, rgb(180, 182, 223), rgb(35, 216, 204)) 1;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background: skyblue;
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}
.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 95vmin;
  height: 100%;
  background-image: url("https://img.freepik.com/free-vector/vietnam-map-touristic-isometric-poster_1284-17336.jpg");
  background-size: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid green; */
}

.dots {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}
.dot {
  width: 14px;
  height: 14px;
  background: yellow;
  border: 1px solid indigo;
  border-radius: 50%;
  transition: 0.3s ease-in-out 0.3s;
}

.line {
  padding: 1rem;
  font-size: 2.4rem;
  color: #59618b;
  background-color: rgba(135, 206, 235, 0.5);
  border-radius: 10px;
  max-height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  width: 95vmin;
  height: 100%;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
}

.wrap.open .overlay {
  transform: translateX(-95vmin);
}

.wrap.open .image-content {
  width: 40vmin;
}

.wrap.open .overlay-content {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(95vmin);
}

.wrap.open .dots {
  transform: translateX(1rem);
}

.wrap.open .dots .dot {
  background: white;
}

/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop {
  animation-name: pop;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide {
  animation-name: slide;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left {
  animation-name: slide-left;
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {
  animation-name: slide-up;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}
