.result {
  width: 100%;
}
.item {
  padding: 1rem;
  margin: 1rem 0.3rem 2rem;
  transition: all 0.5s ease;
  color: white;
  background-color: #282828;
  border: 1px solid transparent;

  &:hover {
    transform: scale(1.01);
    border: 1px solid white;
  }
  .user-info {
    display: flex;
    padding-bottom: 1rem;
    align-items: center;
    gap: 0.5rem;
  }

  .item-name {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .cover {
    width: 100%;
    height: 20rem;

    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
    }
  }
}

@media only screen and (max-width: 992px) {
  .title {
    margin-bottom: 2rem;
  }

  .result {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .title {
    display: none;
  }
}
